[site]

key = 0c48c80a186af49408b5958f453dcc78572cbb47
url = https://platform-api.newrelic.com/platform/v1/metrics

[plugin]

name = OS Statistics
guid = com.rhel.os_statistics
duration = 60
version = 0.1

enable_all = True
enable_disk = False
enable_network = False
enable_memory = True
enable_proc = True
enable_swap = True
enable_nfs = False

