[site]

key = <your key goes here>
url = https://platform-api.newrelic.com/platform/v1/metrics

[plugin]

name = OS Statistics
guid = com.rhel.os_statistics
duration = 60
version = 0.1

enable_all = True
enable_disk = False
enable_network = False
enable_memory = True
enable_proc = True

[disk]
title = Disk Statistics
units = percent

[network]
interfaces = eth0,eth1,eth2
title = Network Statistics

[memory]
title = Memory Statistics
units = bytes

[proc]
title = Processor Statistics
cpu_time_title = CPU Time Statistics
cpu_util_title = CPU Utilization
cpu_units = percent

